[Unit]
Description=AN2Linux

[Service]
Type=simple
StandardOutput=null
Restart=on-failure
ExecStart=/home/lic/apps/an2linuxserver/an2linuxserver.py

[Install]
WantedBy=default.target
